<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>About</title>
  </head>
  <body>
    <%- include("layout/header.ejs") %>
    <main>
      <h3>Hello, I am Anik</h3>
      <p>gmail: anikh499@gmail.com</p>
    </main>
    <%- include("layout/footer.ejs") %>
  </body>
</html>
